<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
<h1>Welcome to chat room: {{ room[1] }}</h1>

    <a href="{{ url_for('edit_room', room_id=room_id) }}">Edit Room</a>

<div id="messages">
    {% for message in messages %}
        <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{ message.text }}</div>
    {% endfor %}
</div>

<form id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button type="submit">Send</button>
</form>

<h3>Members</h3>
<ul>
    {% for member in room_members %}
        <li>{{ member }}</li>
    {% endfor %}
</ul>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
    
    socket.emit('join_room', {
        username: "{{ username }}",
        room: "{{ room_id }}"
    });

    
    document.getElementById('message_input_form').onsubmit = function (e) {
        e.preventDefault();
        let messageInput = document.getElementById('message_input');
        let message = messageInput.value.trim();
        if (message.length) {
           
            socket.emit('send_message', {
                username: "{{ username }}",
                room: "{{ room_id }}",
                message: message 
            });
            messageInput.value = ''; 
        }
        messageInput.focus();
    };
});

$(document).ready(function() {
    
    function loadMessages() {
        $.get('{{ url_for("get_room_messages_route", room_id=room_id) }}', function(data) {
            $('#messages').empty(); // Clear current messages
            data.forEach(function(message) { // Append each message to the messages container
                $('#messages').append(
                    `<div><b>${message.sender}&nbsp;[${message.created_at}]:&nbsp;</b> ${message.text}</div>`
                );
            });
        });
    }

    
    socket.on('new_message', function() {
        loadMessages(); 
    });

    setInterval(loadMessages, 2000); 
});

    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${username}&nbsp;[${created_at}]:&nbsp;</b> ${message}`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });
    };

    socket.on('receive_message', (data) => {
    console.log('Message received:', data);
    const messagesDiv = document.getElementById('messages'); // Corrected this line
    const messageElement = document.createElement('div');
    messageElement.innerHTML = `<b>${data.username} [${new Date().toLocaleString()}]: </b> ${data.message}`;
    messagesDiv.appendChild(messageElement);
});

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.username !== "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newNode);
    });
</script>
</html>
